
table {
    width: 70%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid lightgray;
}

td {
    padding: 10px;
    border-bottom: 2px solid lightgray;
}

